html, body {
    background: #333332;
    color: #e6e6de;

    margin: 0;
    padding: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#output {
    padding: 20px;
}

table {
    background: rgb(92, 92, 92);
    width: 100%;
    border-collapse:collapse;

    font-family: Calibri, sans-serif;
    font-size: 11pt;
}

td {
    border: 1px solid black;
}

#done-list-header {
    margin-bottom: 5px;
}

#done-list {
    max-height: 50vh;
    overflow-y: scroll;
    background: rgba(1, 1, 1, 0.1);
}

#done-list * {
    margin: 0;
}

a {
    color: rgb(54, 114, 192);
}

a:hover {
    color: rgb(192, 77, 77);
}

.infobox {

    padding: 10px;
    padding-left: 25px;
    margin-left: -5px;

    background: #efedc0;

    border-left: 5px solid #dacc50;
    border-radius: 5px;

}


.content {
    display: none;
    padding: 20px;
}

.active {
    display: block;
}

.container {
    display: flex;
    flex-direction: row;
}

#content-item {
    flex-grow: 2;
    height: 100%;
    padding-left: 30px;
    max-width: 50vw;
}

#tabbar {
    flex-basis: 10%;
    flex-grow: 1;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

#right-bar {
    flex-basis: 10%;
    flex-grow: 1;
    padding-right: 20px;
}

.tab {

    user-select: none;

    flex-grow: 1;
    border: 2px solid black;
    border-bottom-right-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    
    background-color: white;
    color: black;

    width: 100%;
    z-index: 100;
    transition: width 0.2s;

    min-height: 3.5em;

    font-weight: 900;
    font-size: large;

}

.tab.selected {
    width: 110%;
}

.tab.unvisited {
    background-color: #cfbb04;
}

.tab.error {
    background-color: #e25633;
}

.tab:hover {
    width: 110%;
}

.error-message {
    color: #f19f9c;
}


.button {
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #2279dd;
    border: 1px solid black;
    border-radius: 5px;

    user-select: none;
    font-size: larger;

    transition: background 0.2s;
}
.button:hover {
    background: #4d4d4d;
    cursor: pointer;
}

.warning {
    background-color: #b13820;
}

.ok {
    background-color: #9bd4bc;
    border-color: #39ce90;
}



.big.button {
    display: inline-block;
    margin: 10px;
}