html, body {
    background-color: #fffdd0;
    color: #444444;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.infobox {

    padding: 10px;
    padding-left: 25px;
    margin-left: -5px;

    background: #efedc0;

    border-left: 5px solid #dacc50;
    border-radius: 5px;

}

.warning {
    background-color: #dfa89d;
    border-color: #d35137;
}

.ok {
    background-color: #9bd4bc;
    border-color: #39ce90;
}

.content {
    display: none;
    padding: 20px;
}

.active {
    display: block;
}

.container {
    display: flex;
    flex-direction: row;

    margin-top: 20px;
    border: 1px solid gray;
    background: #dad8b5;

}

#content-item {
    flex-grow: 1;
    height: 100%;
    padding-left: 30px;
}

#tabbar {
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
}

.tab {
    flex-grow: 1;
    border: 2px solid black;
    border-bottom-right-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    
    background-color: white;
    width: 100%;
    z-index: 100;
    transition: width 0.2s;

    min-height: 3.5em;

    font-weight: 900;
    font-size: large;

}

.tab:hover {
    width: 110%;
}

.unvisited {
    background: #cfbb04;
}

#reset {
    padding: 10px;
    text-align: right;
}

.button {
    display: inline-block;
    padding: 5px;
    background: #81e2e9;
    border: 1px solid black;
    border-radius: 5px;

    font-size: larger;

    transition: background 0.2s;
}

.button:hover {
    background: #c396d8;
    cursor: pointer;
}